@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(212, 92, 92);
}
.container{
    width: 95%;
    height: 650px;
    background-color: #ffffff;
    margin: auto;
    min-width: 95%;

}
.box{
    width: 100%;
    height: 70px;
    border-bottom: solid 1px black;
}
.box1{
    width: 20%;
    height: 100%;
    float: left;
}
.box1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 80px;
}
.box2{
    width: 60%;
    height: 100%;
    float: left;
}
.box3{
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
}
.box3-1{
    width: 130px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border: solid 1px black;
    border-radius: 6px;
}
.box3-1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.box3-1 P{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
}
.box2 ul{
    list-style-type: none;
}
.box2 ul li{
    float: left;
    display: flex;
}
.box2 ul li a{
    text-decoration: none;
    padding-left: 70px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin-top: 7px;
    color: black;
    font-family: "Roboto", sans-serif;
    margin-left: 40px;
}
.box2 ul li a:hover{
    color: cadetblue;
    cursor: pointer;
}
.herosection{
    width: 100%;
    height: 500px;
}
.profile{
    width: 50%;
    height: 500px;
    float: left;
    position: relative;
}
.photo{
    width: 110px;
    height: 110px;
    background-color: chartreuse;
    border-radius: 110px;
    position: absolute;
    top: 90px;
    left: 200px;
    margin: auto;
    border: solid 1px black;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 110px;
}
.profile h1{
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    position: absolute;
    left: 200px;
    bottom: 165px;
    margin: auto;
}
.skill{
    width: 50%;
    height: 500px;
    float: left ;
    position: relative;
}
.skill h2{
    position: absolute;
    top: 100px;
    left: 100px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}
.skill P{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    position: absolute;
    left: 100px;
    bottom: 270px;
    margin: auto;
    font-weight: 450;
}
.skill span{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    position: absolute;
    left: 100px;
    bottom: 170px;
    margin: auto;
}
.skill a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 15px;
    position: absolute;
    left: 100px;
    bottom: 80px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: solid 1px black;
}
.skill a:hover{
     transform: scale(1.05);
}
.container2{
    width: 95%;
    height: 1200px;
    background-color: #FDF9F9;
    margin: auto;
    min-width: 95%;
}
.about-me{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.about-me h1{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    margin-top: 30px;
}
.information{
    width: 50%;
    height: 530px;
    margin-top: 50px;
    float: left;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}
.information h1{
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 100px;
    left: 200px;
    margin: auto;
    font-weight: 450;
}
.information P{
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 160px;
    left: 200px;
}
.facebook{
    width: 150px;
    height: 30px;
    position: absolute;
    bottom: 210px;
    left: 175px;
    margin: auto;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}
.facebook a{
    text-decoration: none;
    color: black;
}
.facebook i{
    transform: rotate(315deg);
    margin-left: 5px;
}
.email{
    width: 150px;
    height: 30px;
    position: absolute;
    bottom: 210px;
    left: 350px;
    margin: auto;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}
.email a{
    text-decoration: none;
    color: black;
}
.email i{
    transform: rotate(315deg);
    margin-left: 5px;
}
.telegram{
    width: 150px;
    height: 30px;
    position: absolute;
    bottom: 210px;
    left: 515px;
    margin: auto;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}
.telegram a{
    text-decoration: none;
    color: black;
}
.telegram i{
    transform: rotate(315deg);
    margin-left: 5px;
}
.picture{
    width: 43%;
    height: 530px;
    margin-top: 50px;
    float: left;
    position: relative;
}
.yim-picture{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 10px;
}
.yim-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.history{
    width: 100%;
    height: 600px;
    float: left;
}
.study{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}
.work{
    width: 50%;
    height: 100%;
    float: left;
}
.container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.container3 h1{
    position: absolute;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    top: 70px;
    right: 0;
    left: 230px;
    bottom: 0;
    margin: auto;
}
.container3 h3{
    position: absolute;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    top: 170px;
    right: 0;
    left: 300px;
    bottom: 0;
    margin: auto;
}
.container3 p{
    position: absolute;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    top: 200px;
    right: 0;
    left: 300px;
    bottom: 0;
    margin: auto;
}
.container3 h4{
    position: absolute;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    top: 275px;
    right: 0;
    left: 300px;
    bottom: 0;
    margin: auto;
}
.container3 h2{
    position: absolute;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    top: 305px;
    right: 0;
    left: 300px;
    bottom: 0;
    margin: auto;
    font-weight: 400;
}
.container3 h6{
    position: absolute;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    top: 380px;
    right: 0;
    left: 300px;
    bottom: 0;
    margin: auto;
}
.container3 span{
    position: absolute;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    top: 410px;
    right: 0;
    left: 300px;
    bottom: 0;
    margin: auto;
}
.cyle{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    right: 383px;
    left: 0;
    bottom: 0;
    margin: auto;
}
.moon{
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255, 255, 255);
  margin-top: 150px;
  position: relative;
  border: solid 3px black;
  margin-right: 380px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.moon::after{
  content: '';
  display: block;
  width: 3px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 73px;
  right: 50%;
}
.moon:last-child::after{
  content: none;
}
.moon i{
   font-size: 30px;

}
.sun{
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255, 255, 255);
  margin-top: 150px;
  position: relative;
  border: solid 3px black;
  margin-right: 380px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sun::after{
  content: '';
  display: block;
  width: 3px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 73px;
  right: 50%;
}
.sun:last-child::after{
  content: none;
}
.sun i{
    font-size: 30px;
}
.container4 {
    position: relative;
    display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.container4 h1{
    position: absolute;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    top: 70px;
    right: 0;
    left: 130px;
    bottom: 0;
    margin: auto;
}
.container4 h2{
    position: absolute;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    top: 170px;
    right: 0;
    left: 190px;
    bottom: 0;
    margin: auto;
}
.container4 span{
    position: absolute;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    top: 200px;
    right: 0;
    left: 190px;
    bottom: 0;
    margin: auto;
}
.container4 h3{
    position: absolute;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    top: 320px;
    right: 0;
    left: 190px;
    bottom: 0;
    margin: auto;
}
.container4 p{
    position: absolute;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    top: 350px;
    right: 0;
    left: 190px;
    bottom: 0;
    margin: auto;
}
.yim{
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255, 255, 255);
  margin-top: 150px;
  position: relative;
  border: solid 3px black;
  margin-right: 600px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.yim::after{
  content: '';
  display: block;
  width: 3px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 73px;
  right: 50%;
}
.yim:last-child::after{
  content: none;
}
.yim i{
   font-size: 30px;

}
.em{
  display: block;
  width: 70px;
  height: 70px;
  background: rgb(255, 255, 255);
  margin-top: 80px;
  position: relative;
  border: solid 3px black;
  margin-right: 600px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.em::after{
  content: '';
  display: block;
  width: 3px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 73px;
  right: 50%;
}
.em:last-child::after{
  content: none;
}
.em i{
    font-size: 30px;
}
.technical{
    width: 95%;
    height: 500px;
    background-color: #FDF9F9;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.technical h1{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}
.all{
    width: 82%;
    height: 300px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.kh{
    width: 200px;
    height: 200px;
    position: relative;
}
.kh p{
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.kh span{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 180px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.kh h2{
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.kh h3{
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.kh h4{
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.kh h5{
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.kh h6{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 180px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.kh span{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 180px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.service{
    width: 95%;
    height: 700px;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.service h1{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}
.all-box{
    width: 75%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.mock-up{
    width: 32%;
    height: 100%;
    border: solid 1px #000;
    position: relative;
}
.o{
    width: 60px;
    height: 60px;
    border: solid 1px black;
    border-radius: 60px;
    position: absolute;
    top: 100px;
    left: 40px;
    margin: auto;
}
.o i{
    font-size: 30px;
    margin-top: 15px;
}