@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(212, 92, 92);
}
.container{
    width: 95%;
    height: auto; overflow: hidden;
    background-color: #ffffff;
    margin: auto;

}
.box{
    width: 100%;
    height: 70px;
    border-bottom: solid 1px black;
}
.box1{
    width: 20%;
    height: 100%;
    float: left;
}
.box2{
    width: 60%;
    height: 100%;
    float: left;
}
.box3{
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
}
.box3-1{
    width: 130px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border: solid 1px black;
    border-radius: 6px;
}
.box3-1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.box3-1 P{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 11px
}
.box2 ul{
    list-style-type: none;
}
.box2 ul li{
    float: left;
    display: flex;
}
.box2 ul li a{
    text-decoration: none;
    padding-left: 70px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin-top: 7px;
    color: black;
    font-family: "Roboto", sans-serif;
    margin-left: 40px;
}
.box2 ul li a:hover{
    color: cadetblue;
    cursor: pointer;
}
.herosection{
    width: 100%;
    height: 500px;
}
.Profile{
    width: 50%;
    height: 500px;
    float: left;
    position: relative;
}
.photo{
    width: 110px;
    height: 110px;
    background-color: chartreuse;
    border-radius: 110px;
    position: absolute;
    top: 90px;
    left: 140px;
    margin: auto;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 110px;
}
.Profile h1{
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    position: absolute;
    left: 140px;
    bottom: 165px;
    margin: auto;
}
.skill{
    width: 50%;
    height: 500px;
    background-color: aqua;
    float: left ;
}