body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    background-color: aqua;
    margin: auto;
    padding: 120px 399px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.box1{
    width: 300px;
    padding: 200px 50px;
    background-color: black;
}